<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
 
<body>
    <center>This is our home page.</center>
    <script>
        //const socket =io ('https://udifyapi.pamsar.com',{transports: ['websocket']})
        const socket =io ('https://udifyapi.pamsar.com')
        socket.emit('chat', 'Check');
//         io.on("connection", function (socket) {
//   console.log("Made socket connection");
// });
    </script>
</body>
 
</html>  